# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# other
.DS_STORE
src/main/resources/assets/vanillaful/.DS_Store
src/main/resources/assets/vanillaful/.DS_Store
src/main/resources/assets/vanillaful/.DS_Store
